<div class="modal-header"><h2>Registration</h2></div>
<!--
<div class="modal-body">Voulez-vous supprimer cette élement ? </div>
-->
<div class="modal-body">
 <!--   <button class="btn btn-primary" ng-click="delete()">Confirmer</button>
    -->
    <form action="demo_form.asp">
  		Username: <input type="text" name="uname"><br>
  		E-mail:   <input type="text" name="email"><br><br>

  		Password:         <input type="text" name="pass"><br>
  		Confirm Password: <input type="text" name="cpass"><br>
  		<input type="submit" value="Submit">
	</form>
	<button class="submit" ng-click="cancel()">Annuler</button>
</div>
