<div class="modal-header"><h4>SignUp</h4></div>
<!--
<div class="modal-body">Voulez-vous supprimer cette élement ? </div>
-->
<div class="modal-body">

    <form id="signupForm">
      <div class="form-group">
  		<label for="usernameInput" class="control-label">Username</label><input class="form-control" id="usernameInput" type="text" name="uname">

  		<label for="passwordInput" class="control-label">Password</label><input class="form-control" id="passwordInput" type="text" name="pass">

  		<label for="confirmPassInput" class="control-label">Confirm Password</label> <input class="form-control" id="confirmPassInput" type="text" name="cpass">
          </div>
	</form>
  <button class="btn btn-primary" ng-click="signup.signup()">Confirmer</button>
	<button class="btn btn-danger" ng-click="signup.cancel()">Annuler</button>
</div>
