body {
  background-image:url('../../../images/galaxy_starfield.png');
}

#map {
  position:absolute;
  width:100%;
  left:0;

  .section {
    text-align:center;
    font-size: 3em;
    color: whitesmoke;
    /* This is important to make the button position relative to the section*/
    position:relative;
  }

  .fp-controlArrow {
    opacity:.5;
  }
}
