<div class="modal-header"><h2>Connecting</h2></div>
<!--
<div class="modal-body">Voulez-vous supprimer cette élement ? </div>
-->
<div class="modal-body">
 <!--   <button class="btn btn-primary" ng-click="delete()">Confirmer</button>
    -->
    <form id="loginForm">
      <div class="form-group">
  		<label for="username" class="control-label">Username</label><input id="username" type="text" name="uname" placeholder="Enter your username" class="form-control">
  		<label for="password" class="control-label">Password</label> <input id="password" type="text" name="pass" placeholder="Enter your password" class="form-control">
      </div>
	</form>
  <button class="btn btn-primary" ng-click="process()">Submit</button>
  <button class="btn btn-danger" ng-click="cancel()">Annuler</button>

</div>
