<div class="modal-header"><h4>Login</h4></div>


<div class="modal-body">
    <form id="loginForm">
      <div class="form-group">
  		<label for="username" class="control-label">Username</label><input id="username" type="text" name="uname" placeholder="Enter your username" class="form-control">
  		<label for="password" class="control-label">Password</label> <input id="password" type="text" name="pass" placeholder="Enter your password" class="form-control">
      </div>
	</form>
  <button class="btn btn-primary" ng-click="login.login()">Submit</button>
  <button class="btn btn-danger" ng-click="youla()">Annuler</button>

</div>
