<div class="modal-header">
  <h3>
    <span ng-if="vm.planet.code_name">{{vm.planet.code_name}}</span>
    <span ng-if="vm.planet.code_name && vm.planet.name">a.k.a.</span>
    <span ng-if="vm.planet.name">{{vm.planet.name}}</span>
  </h3>
</div>

<div class="modal-body">
  <tabset>
    <tab heading="Home">
      <div class="well">
      {{vm.planet.description}}
        </div>
    </tab>
    <tab heading="Descriptions">
      <div class="well">
      {{vm.currentDescription().text}}
      </div>
    </tab>
    <tab ng-if="vm.nbTrades" heading="Trades">
      <h3>{{vm.currentTrade().name}}</h3>
      <div class="well">
        {{vm.trade.text}}
      </div>
      <pager total-items="vm.nbTrades" ng-model="vm.currentTr" items-per-page="1"></pager>
      <a ui-sref="home.planet.create-trade" class="btn btn-primary">Create Trade</a>
    </tab>

    <tab heading="Ajouter une description">
      <div class="editorContent">
        <div text-angular="text-angular" ng-model="vm.descEditor" ta-disabled='disabled'></div>
        <a ng-click="vm.sendDescEditorContent()" class="btn btn-primary btn-long btn-block">Envoyer description</a>
        <a ng-click="vm.clearDescEditorContent()" class="btn btn-danger btn-long btn-block">Effacer description</a>
      </div>
    </tab>

  </tabset>

</div>
