.modal-body {
  #codexContent, #descContent, .editorContent {
    margin: 30px 0 10px 0px;
  }

  #descContent {
    #currentEval {
      margin:30px 0px 30px 0px;
      text-align:center;
    }

    #currentEval span {
      display:inline-block;
      margin:0px 20px 0 20px;
    }
  }

  .editorContent .btn {
    margin-top:10px;
  }
}
