<div class="modal-header">
  <h3>
    <span ng-if="vm.planet.code_name">{{vm.planet.code_name}}</span>
    <span ng-if="vm.planet.code_name && vm.planet.name">a.k.a.</span>
    <span ng-if="vm.planet.name">{{vm.planet.name}}</span>
  </h3>
</div>

<div class="modal-body">
  <tabset>
    <tab heading="Codex">
      <div id="codexContent">
        <p ng-bind-html="vm.planet.description"></p>
        <hr ng-if="vm.planet.description" />

        <div ng-if="vm.planet.orbit" id="orbital_data">
          <h5>Paramètres orbitaux</h5>
          <ul id="orbit">
            <li>Vitesse orbitale : {{vm.planet.orbit.orbital_speed}} m.s<sup>-1</sup></li>
            <li>Période de révolution : {{vm.planet.orbit.revolution_period}} jour(s)</li>
            <li>Demi-grand axe : {{vm.planet.orbit.semimajor_axis}} km(s)</li>
            <li>Demi-petit axe : {{vm.planet.orbit.semiminor_axis}} km(s)</li>
          </ul>
        </div>

        <div ng-if="vm.planet.climate" id="climate_data">
          <h5>Données climatiques</h5>
          <ul id="climate">
            <li>Température minimale : {{vm.planet.climate.minTemp}} °C</li>
            <li>Température maximale : {{vm.planet.climate.maxTemp}} °C</li>
            <li>Température moyenne : {{vm.planet.climate.meanTemp}} °C</li>
            <li>Nombre de saisons : {{vm.planet.climate.seasons}}</li>
          </ul>
        </div>
      </div>
    </tab>

    <tab ng-if="vm.nbDesc" heading="Descriptions">
      <div id="descContent">
        <div ng-bind-html="vm.currentDescription().text" id="currentText"></div>
        <div id="descSubContent">
          <div id="currentEval">
          <span ng-click="vm.upvote()" id="upvotes">
            <i class="fa fa-2x fa-thumbs-up"></i>
            {{vm.currentDescription().upvotes}}
          </span>
          <span ng-click="vm.downvote()" id="downvotes">
            <i class="fa fa-2x fa-thumbs-down"></i>
            {{vm.currentDescription().downvotes}}
          </span>
          </div>
          <pager total-items="vm.nbDesc" ng-model="vm.currentDesc" items-per-page="1"></pager>
        </div>
      </div>
    </tab>

    <tab ng-if="vm.nbTrades" heading="Commerces">
      <div class="well">
        <ul>
          <li data-ng-repeat="trade in vm.trades"><a>{{trade.name}}</a></li>
        </ul>
      </div>
    </tab>

    <tab heading="Ajouter une description">
      <div class="editorContent">
        <div text-angular="text-angular" ng-model="vm.descEditor" ta-disabled='disabled'></div>
        <a ng-click="vm.sendDescEditorContent()" class="btn btn-primary btn-long btn-block">Envoyer description</a>
        <a ng-click="vm.clearDescEditorContent()" class="btn btn-danger btn-long btn-block">Effacer description</a>
      </div>
    </tab>

  </tabset>

</div>
